MONGO_URI=mongodb://localhost:27017/uncoverd
JWT_SECRET=your_jwt_secret
SETUP_TOKEN=your_secure_setup_token_for_admin_creation
PORT=5000
PAYU_KEY=your_payu_key
PAYU_SALT=your_payu_salt
PAYU_BASE_URL=https://sandbox.payu.in
PAYU_SUCCESS_URL=http://localhost:3000/payment-success
PAYU_FAILURE_URL=http://localhost:3000/payment-failure
SHIPROCKET_EMAIL=your_shiprocket_email
SHIPROCKET_PASSWORD=your_shiprocket_password
